.slider {
    display: flex;
    align-items: center;
    gap: rem(53px);
}

.slider-button {
    width: rem(52px);
    height: rem(52px);
    background-image: url('../../assets/icons/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: rem(2px) solid $color-main-orange;
    border-radius: rem(100px);
    transition: 0.3s;

    &:hover:not(&:disabled) {
        background-color: $color-main-orange-hover;
        border-color: $color-main-orange-hover;
        cursor: pointer;
    }

    &:disabled {
        border-color: $color-dark-1;
        opacity: 0.3;
    }
}

.slider__button-left {
    order: 1;
}

.slider__button-right {
    order: 3;
    transform: rotate(180deg);
}

.slider__cards-block {
    display: flex;
    justify-content: space-between;
    gap: rem(90px);
    order: 2;
}

.card {
    width: rem(270px);
    min-height: rem(435px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    border-radius: rem(9px);
    overflow: hidden;
    transition: 0.3s;

    &:hover {
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}

.card__image {
    width: rem(270px);
    height: rem(270px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pet-katrine {
    background: url('../../assets/images/pets-katrine.webp');
}

.pet-jennifer {
    background: url('../../assets/images/pets-jennifer.webp');
}

.pet-woody {
    background: url('../../assets/images/pets-woody.webp');
}

.card_title {
    font-family: $font-group-2;
    font-weight: 400;
    font-size: rem(20px);
    line-height: rem(23px);
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-dark-1;
    margin: rem(30px) 0;
}

.card__button {
    background-color: $color-white;
    border: 2px solid $color-main-orange;
    padding: rem(13px) rem(43px);

    &:hover {
        border-color: $color-main-orange-hover;
    }
}