.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(53px);
}

.slider__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(20px);
    margin-top: rem(7px);
}

.slider-button {
    width: rem(52px);
    height: rem(52px);
    background: none;
    font-family: $font-group-2;
    font-style: normal;
    font-weight: 400;
    font-size: rem(20px);
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;

    &:disabled {
        border-color: $color-dark-xl;
        opacity: 0.4;
    }
}

.slider__cards-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(30px) rem(40px);
    order: initial;
}

.pet-katrine {
    background: url('../../assets/images/pets-katrine.webp');
}

.pet-jennifer {
    background: url('../../assets/images/pets-jennifer.webp');
}

.pet-woody {
    background: url('../../assets/images/pets-woody.webp');
}

.pet-sofia {
    background: url('../../assets/images/pets-sofia.webp');
}


.pet-timmy {
    background: url('../../assets/images/pets-timmy.webp');
}

.pet-charly {
    background: url('../../assets/images/pets-charly.webp');
}

.pet-scarlett {
    background: url('../../assets/images/pets-scarlet.webp');
}

.pet-freddie {
    background: url('../../assets/images/pets-freddie.webp');
}