.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: rem(60px);
    padding-top: rem(30px);
}

.main-logo__title {
    font-family: $font-group-2;
    font-style: normal;
    font-weight: 400;
    font-size: rem(32px);
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-main-orange;
    margin: 0;
}

.main-logo__description {
    display: block;
    font-family: $font-group-1;
    font-style: normal;
    font-weight: 400;
    font-size: rem(13px);
    line-height: rem(15px);
    text-align: center;
    letter-spacing: 0.1em;
    color: $color-white;
    margin-top: rem(9px);
}

.header__nav {
    padding-bottom: 3px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: rem(443px);
    list-style-type: none;
    padding: 0;

    a {
        font-family: $font-group-1;
        font-style: normal;
        font-weight: 400;
        font-size: rem(15px);
        line-height: 160%;
        color: $color-main-orange;
        text-decoration: none;
        color: $color-white;
        transition: 0.3s;
        opacity: 0.7;
        padding-bottom: rem(4px);
        cursor: default;

        &:hover:not(.link__active) {
            opacity: 1;
            cursor: pointer;
        }
    }

    .link__active {
        opacity: 1;
        border-bottom: 3px solid $color-main-orange;
    }
}

@media (max-width: 767px) {
    .header__nav {
        display: none;
    }
}