@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialMT.woff2") format("woff2"), url("../../assets/fonts/ArialMT.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.help, .our-friends, .about {
  padding-top: 5rem;
  padding-bottom: 6.25rem;
}

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  user-select: none;
}

.container {
  width: 80rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.title-h2 {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.default-p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 160%;
  color: #CDCDCD;
}

.button-main {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  background: #F1CDB3;
  border-radius: 6.25rem;
  border: none;
  outline: none;
  color: #292929;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.9375rem 2.8125rem;
}
.button-main:hover {
  background: #FDDCC4;
}

.first-screen {
  display: flex;
  flex-direction: column;
  background: url("../../assets/images/noise_transparent.webp"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.75rem;
  padding-top: 1.875rem;
}

.main-logo__title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: 0;
}

.main-logo__description {
  display: block;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-top: 0.5625rem;
}

.header__nav {
  padding-bottom: 3px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 27.6875rem;
  list-style-type: none;
  padding: 0;
}
.nav__list a {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 160%;
  color: #F1CDB3;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
  opacity: 0.7;
  padding-bottom: 0.25rem;
  cursor: default;
}
.nav__list a:hover:not(.link__active) {
  opacity: 1;
  cursor: pointer;
}
.nav__list .link__active {
  opacity: 1;
  border-bottom: 3px solid #F1CDB3;
}

.not-only {
  display: flex;
  justify-content: space-between;
}

.not-only__left-block {
  width: 28.75rem;
  height: 20.125rem;
  margin-top: 15.8125rem;
}
.not-only__left-block * {
  margin: 0;
}

.not-only__title {
  width: 19.375rem;
  font-size: 2.75rem;
  letter-spacing: 0;
  color: #ffffff;
}

.not-only__description {
  margin: 2.625rem 0;
}

.not-only__image__wrapper {
  width: 43.625rem;
  height: 45.5rem;
  background: url("../../assets/images/start-screen-puppy.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5.6875rem;
}

.about {
  background-color: #ffffff;
}

.about__wrapper {
  display: flex;
  justify-content: center;
  gap: 7.4375rem;
}

.about__left-picture {
  width: 18.75rem;
  height: 25.5rem;
  background: url("../../assets/images/about-pets.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.about__right-block {
  width: 26.875rem;
  height: 23.75rem;
}

.about__title {
  width: 23.125rem;
  margin: 0.875rem 0;
}

.about__description {
  color: #4C4C4C;
  margin-top: 1.5625rem;
  margin-bottom: 0;
}

.our-friends {
  background-color: #F6F6F6;
}

.our-friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-friends__title {
  width: 25rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.our-friends__slider {
  margin: 3.6875rem 0;
}

.our-friends__link {
  text-decoration: none;
}

.slider {
  display: flex;
  align-items: center;
  gap: 3.3125rem;
}

.slider-button {
  width: 3.25rem;
  height: 3.25rem;
  background-image: url("../../assets/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0.125rem solid #F1CDB3;
  border-radius: 6.25rem;
  transition: 0.3s;
}
.slider-button:hover:not(.slider-button:disabled) {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  cursor: pointer;
}
.slider-button:disabled {
  border-color: #545454;
  opacity: 0.3;
}

.slider__button-left {
  order: 1;
}

.slider__button-right {
  order: 3;
  transform: rotate(180deg);
}

.slider__cards-block {
  display: flex;
  justify-content: space-between;
  gap: 5.625rem;
  order: 2;
}

.card {
  width: 16.875rem;
  min-height: 27.1875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.5625rem;
  overflow: hidden;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card__image {
  width: 16.875rem;
  height: 16.875rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pet-katrine {
  background: url("../../assets/images/pets-katrine.webp");
}

.pet-jennifer {
  background: url("../../assets/images/pets-jennifer.webp");
}

.pet-woody {
  background: url("../../assets/images/pets-woody.webp");
}

.card_title {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 1.875rem 0;
}

.card__button {
  background-color: #ffffff;
  border: 2px solid #F1CDB3;
  padding: 0.8125rem 2.6875rem;
}
.card__button:hover {
  border-color: #FDDCC4;
}

.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__title {
  width: 19.375rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.help__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.4375rem 7.5rem;
  margin-top: 3.75rem;
}

.help__icon {
  height: 7.0625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.help__icon-image {
  width: 3.75rem;
  height: 3.75rem;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-pet-food {
  background: url("../../assets/icons/icon-pet-food.svg");
}

.icon-transportation {
  background: url("../../assets/icons/icon-transportation.svg");
}

.icon-toys {
  background: url("../../assets/icons/icon-toys.svg");
}

.icon-bowls-and-cups {
  background: url("../../assets/icons/icon-bowls-and-cups.svg");
}

.icon-shampoos {
  background: url("../../assets/icons/icon-shampoos.svg");
}

.icon-vitamins {
  background: url("../../assets/icons/icon-vitamins.svg");
}

.icon-medicines {
  background: url("../../assets/icons/icon-medicines.svg");
}

.icon-collars-leashes {
  background: url("../../assets/icons/icon-collars-leashes.svg");
}

.icon-sleeping-area {
  background: url("../../assets/icons/icon-sleeping-area.svg");
}

.help__icon-title {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
