.about {
    background-color: $color-white;
    @extend %blocksPaddings;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    gap: rem(119px);
}

.about__left-picture {
    width: rem(300px);
    height: rem(408px);
    background: url('../../assets/images/about-pets.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.about__right-block {
    width: rem(430px);
    height: rem(380px);
}

.about__title {
    width: rem(370px);
    margin: rem(14px) 0;
}

.about__description {
    color: $color-dark-2;
    margin-top: rem(25px);
    margin-bottom: 0;
}