.not-only {
    display: flex;
    justify-content: space-between;
}

.not-only__left-block {
    width: rem(460px);
    height: rem(322px);
    margin-top: rem(253px);

    * {
        margin: 0;
    }

}

.not-only__title {
    width: rem(310px);
    font-size: rem(44px);
    letter-spacing: 0;
}

.not-only__description {
    margin: rem(42px) 0;
}

.not-only__image__wrapper {
    width: rem(698px);
    height: rem(728px);
    background: url('../../assets/images/start-screen-puppy.webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: rem(91px);
}